/*

Note on Breakpoints: ;

- portrait orientation for mobile is based on the widest iphone - 428/26.75
- this is the biggest screen of the most common screens listed in XD
- so it should be a good baseline (without having to target too many scenarios)

*/

:root {
	--color-dark: #212121;
	--color-light: #ffffff;
	--color-mid: #909090;
	--color-alt: #7a7a7a;
	--color-pop: #17c3b2;
	--color-pop-dark: #129c8e;
	--color-disable: #4d4d4d;
	--font-default: 'IBM Plex Mono', monospace;
}

* {
	box-sizing: border-box;
	margin: 0;
}

::-moz-selection {
  color: var(--color-light);
  background: var(--color-pop);
}

::selection {
  color: var(--color-light);
  background: var(--color-pop);
}

body, html {
	height: 100%;
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	font-family: var(--font-default);
	padding: 1.25rem;
	color: var(--color-light);
	background-color: #171717;
	opacity: .9;
}

@media screen and (min-width: 40em){
	body {
		padding: 1.875rem;
	}
}

@media screen and (max-height: 26.75rem) and (orientation: landscape){
	body {
		padding: 1.25rem;
	}
}

header {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: 2.5rem;
	align-items: center;
}

header h1 {
	color: var(--color-mid);
	font-weight: 400;
	font-size: 1rem;
	margin: 0;
}

header h1 a {
	color: var(--color-mid);
	text-decoration: none;
}

@media screen and (min-width: 40em){
	header h1 {
		font-size: 1.25rem;
	}
}

@media screen and (max-height: 26.75em) and (orientation: landscape){
	header h1 {
		font-size: 1rem;
	}
}

header button {
	justify-self: end;
}

button {
	width: 2.5rem;
	border: 1px solid transparent;
	padding: .25rem .5rem;
	background: transparent;
	color: var(--color-light);
	text-align: center;
	font-size: 1rem;
	border-radius: .5rem;
	cursor: pointer;
}

@media screen and (min-width: 40em){
	button {
		width: 3.75rem;
		padding: .5rem 1rem;
		font-size: 1.25rem;
	}
}

@media screen and (max-height: 26.75em) and (orientation: landscape){
	button {
		width: 2.5rem;
		padding: .25rem .5rem;
	}
}

button svg {
	transform: translateY(-1px);
}

@media screen and (max-height: 26.75em) and (orientation: landscape){
	button svg {
		transform: translateY(-2px);
	}
}

p.disabled {
	color: var(--color-disable);
	pointer-events: none;
}

button[disabled] {
	pointer-events: none;
}

.saving {
  pointer-events: none;
}

.confirmed {
  background-color: var(--color-pop) !important;
}

#btn-save-fav {
	background: var(--color-disable);
}

#btn-save-fav svg {
  height: 1rem;
  fill: var(--color-light);
}

@media screen and (min-width: 40em){
	#btn-save-fav svg {
		height: 1.25rem;
	}
}

@media screen and (max-height: 26.75em) and (orientation: landscape){
	#btn-save-fav svg {
	  height: 1rem;
	}
}

#btn-save-fav[disabled] svg {
	fill: var(--color-alt);
}

#btn-save-fav.saving svg {
  fill: var(--color-pop);
  animation: spin .4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#btn-save-fav.confirmed svg {
  fill: var(--color-light);
  animation: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

main {
	align-self: center;
}

main blockquote {
	padding-left: 1.25rem;
	border-left: 1px solid var(--color-mid);
	margin-right: 1.25rem;
}

@media screen and (min-width: 40em){
	main blockquote {
		padding-left: 2.5rem;
		margin-left: 5rem;
		margin-right: 10rem;
		border-left-width: 1.25rem;
	}
}

@media screen and (max-height: 26.75em) and (orientation: landscape){
	main blockquote {
		padding-left: 1.25rem;
		margin-left: 0;
		margin-right: 2.5rem;
		border-left-width: .5rem;
	}
}

main blockquote p {
	font-size: 1.25rem;
	line-height: 1.4;
}

@media screen and (min-width: 40em){
	main blockquote p {
		font-size: 1.75rem;
	}
}

@media screen and (min-width: 67.5em){
	main blockquote p {
		font-size: 2.25rem;
	}
}

@media screen and (max-height: 26.75em) and (orientation: landscape){
	main blockquote p {
		font-size: 1.25rem;
		line-height: 1.4;
	}
}

main blockquote p::before {
	content: attr(data-index);
	position: fixed;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	font-size: 10rem;
	line-height: 1;
	color: var(--color-disable);
	z-index: -1;
	writing-mode: vertical-lr;
}

@media screen and (min-width: 67.5em){
	main blockquote p::before {
		writing-mode: horizontal-tb;
		font-size: 20rem;
		right: 1.25rem;
	}
}

@media screen and (max-height: 26.75rem) and (orientation: landscape){
	main blockquote p::before {
		font-size: 7.5rem;
	}
}

footer {
	width: 100%;
	align-self: end;
	justify-self: end;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: 2.5rem;
	align-items: center;
}

footer p {
	font-size: 1rem;
	color: var(--color-mid);
}

@media screen and (min-width: 40em){
	footer p {
		font-size: 1.25rem;
	}
}

@media screen and (max-height: 26.75em) and (orientation: landscape){
	footer p {
		font-size: 1rem;
	}
}

footer button,
footer button[disabled] {
	background-color: var(--color-disable);
	color: transparent;
}

footer button svg {
	height: 1rem;
	fill: var(--color-light);
}

@media screen and (min-width: 40em){
	footer button svg {
		height: 1.25rem;
	}
}

@media screen and (max-height: 26.75em) and (orientation: landscape){
	footer button svg {
		height: 1rem;
	}
}

footer button[disabled] svg {
	fill: var(--color-alt);
}

.favs {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1.25rem;
	background-color: var(--color-pop);
	overflow: auto;
	transition: transform .4s cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

@media screen and (min-width: 40em){
	.favs {
		padding: 1.875rem;
	}
}

@media screen and (max-height: 26.75rem) and (orientation: landscape){
	.favs {
		padding: 1.25rem;
	}
}

.favs .hgroup {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: 2.5rem;
	align-items: center;
}

.favs .hgroup h2 {
	color: var(--color-dark);
	font-weight: 400;
	font-size: 1rem;
	margin: 0;
}

.favs .hgroup h2 a {
	color: var(--color-dark);
	text-decoration: none;
}

@media screen and (min-width: 60em){
	.favs .hgroup h2 {
		font-size: 1.25rem;
	}
}

.favs .hgroup button {
	background-color: var(--color-pop-dark);
}

.favs .hgroup button svg {
	height: 1rem;
	fill: var(--color-light);
}

@media screen and (min-width: 40em){
	.favs .hgroup button svg {
		height: 1.25rem;
	}
}

@media screen and (max-height: 26.75em) and (orientation: landscape){
	.favs .hgroup button svg {
		height: 1rem;
	}
}

.favs.closed {
	transform: translateY(100%);
}

.favs-group {	
	padding: 1.25rem 0;
}

@media screen and (min-width: 40em){
	.favs-group {
		columns: 2;
		gap: 1.25rem;
		padding: 2.5rem 0;
	}
}

@media screen and (min-width: 67.5em){
	.favs-group {
		columns: 3;
	}
}

@media screen and (max-height: 26.75em) and (orientation: landscape){
	.favs-group {
		padding: 1.25rem 0;
	}
}

.favs-group .fav-quote {
	padding: 1.25rem 2.5rem 1.25rem 1.25rem;
	border-radius: .5rem;
	margin-bottom: 1.25rem;
	break-inside: avoid;
	position: relative;
	color: var(--color-dark);
	background-color: var(--color-light);
	display: inline-block; /* prevent FF from breaking element into cols */
}

.favs-group .fav-quote ::-moz-selection {
  color: var(--color-light);
  background: var(--color-dark);
}

.favs-group .fav-quote ::selection {
  color: var(--color-light);
  background: var(--color-dark);
}

.favs-group .fav-quote button {
	position: absolute;
	top: 1.25rem;
  right: 0.0125rem;
  padding: 0;
	font-family: var(--font-default);
	font-size: 1rem;
	color: var(--color-pop);
}

.favs-group .fav-quote p {
	font-size: 1rem;
}

@media screen and (min-width: 40em){
	.favs-group .fav-quote p {
		font-size: 1.25rem;
	}
}

@media screen and (max-height: 26.75em) and (orientation: landscape){
	.favs-group .fav-quote p {
		font-size: 1rem;
	}
}

/* UTILITIES */

.abbrv {
	display: none;
}

@media screen and (min-width: 40em){
	.abbrv {
		display: inline;
	}
}

.swap {
	display: inline;
}

@media screen and (min-width: 40em){
	.swap {
		display: none;
	}
}